{% extends 'base.html' %}
{% load static %}

{% block title %}posts{% endblock title %}

{% block scripts %}
  {% comment %} defer attribute is important as it instructs the browser to postpone the execution of JS until page is loaded {% endcomment %}
  <script src="{% static 'posts/main.js' %}" defer></script>
{% endblock scripts %}

{% block content %}
  {% comment %} {% for obj in qs %}<b>{{ obj.title }}</b> - {{ obj.body }}</br>  {% endfor %} {% endcomment %}
  <div id="posts-box"></div>
  <div id="hello-world"></div>
{% endblock content %}
